<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurants Details</title>
      
    <style>@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      body {
        width: 100%;
        height: 100vh;
  background: #EFECEC;

        background-position: center;
        background-repeat: repeat;
        background-size: 300px;
        align-items: center;
        justify-content: center;

        
      }

    


.box {
  position: relative;
  margin: 40px auto;
  width: 90%; 
  max-width: 1000px; 
  background: #fff;
  border-radius: 2px;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0,0,0,.7);
  z-index: -1;
  transition: all .3s ease-in-out;
}

.box::before {
  top: 90%;

  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.box::after {
  top: 90%;
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.box:hover::before,
.box:hover::after {
  box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

.box:hover::before {
  left: 5px;
}

.box:hover::after {
  right: 5px;
}
 
      .l-card__text{

        flex-direction: column;
  justify-content: space-between;

    padding: 35px;
    margin: 35px;

  border: 5px solid rgba(255, 255, 255, 0.66);
  border-radius: 20px;
  background:url("/men.jpg");
  position: relative;
  margin: 40px auto;
  background: #d9dbd6 ;
  border-radius: 2px;
      }
      .l-card{
        margin: 50px;
      }
      div.maint {
        font-size: 30px;
        color: #301f1a;   
        font-weight: 700;  
      
      }
      p strongt{
        color: #000;
        padding: 0 10px 0 0;
        font-size: 22px;
        font-weight: 600 !important;
      }
      
      .l-card__text p {
        font-size: 20px;
        font-family: "Vollkorn", serif;
        font-weight: 400;
        color: #000;
        text-align: left;
      }
      .copied-text{
        font-size: 16px;
        color: black;
        transition: .5s;
      }
      .copy-btn{
        padding-bottom: 0px;
        margin-bottom: -5px;
        align-items: center;
        background: transparent;
        border: none;
cursor: pointer;
top: 10%;
margin-left: 7px;
margin-top: 10px;
      }
    
  
      svg{
        bottom: -37%;
    position: absolute;
    right: 5%;
    opacity: .1;
    width: 260px;

  }

  svg.cp{
    width: 20px;
    height: 20px;
    opacity: 1;
    position: relative;
  }
  
      </style>
        <% message?.forEach(element => { %>

    <body>
      <main class="l-card">
        <div class="l-card__text box">
          <!-- <img src="/men.jpg" alt="" width=""> -->
          
            <div class="info">
              <div class="item">
            <p><div class="maint"><%= element.restName %>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"  viewBox="0 0 470 470" xml:space="preserve" width="512" height="512">
                <g>
                  <path style="fill:#99D9FF;" d="M234.995,82.51c84.22,0,152.5,68.28,152.5,152.5s-68.28,152.5-152.5,152.5s-152.5-68.28-152.5-152.5   S150.775,82.51,234.995,82.51z"/>
                  <path style="fill:#CCECFF;" d="M234.995,122.51v225c62.13,0,112.5-50.37,112.5-112.5C347.495,172.88,297.125,122.51,234.995,122.51   z"/>
                  <path style="fill:#FFFFFF;" d="M234.995,122.51c51.08,0,92.5,50.37,92.5,112.5s-41.42,112.5-92.5,112.5   c-62.13,0-112.5-50.37-112.5-112.5S172.865,122.51,234.995,122.51z"/>
                  <path style="fill:#84B044;" d="M293.336,176.669c8.012,28.136,2.369,57.735-17.678,77.782s-49.646,25.689-77.782,17.678   l34.648-66.468L293.336,176.669z"/>
                  <path style="fill:#A2C352;" d="M293.336,176.669l-95.459,95.459c-8.012-28.136-2.369-57.735,17.678-77.782   S265.201,168.657,293.336,176.669z"/>
                  <path style="fill:#99D9FF;" d="M7.5,137.5v20c0,11.102,6.036,20.789,15,25.977V372.5c0,8.284,6.716,15,15,15s15-6.716,15-15   V183.476c8.964-5.188,15-14.874,15-25.977v-20H7.5z"/>
                  <polygon style="fill:#66C6FE;" points="462.49,245 462.49,275 447.49,302.51 432.49,275 432.49,230.01  "/>
                  <path style="fill:#99D9FF;" d="M462.49,275v97.51c0,8.28-6.72,15-15,15s-15-6.72-15-15V275H462.49z"/>
                  <path style="fill:#99D9FF;" d="M440,82.5c-12.427,0-22.5,10.074-22.5,22.5v117.5c0,12.427,10.073,22.5,22.5,22.5h22.5   c0-64.949,0-140,0-140C462.5,92.574,452.427,82.5,440,82.5z"/>
                  <path d="M235.005,115c-66.168,0-120,53.832-120,120c0,26.554,8.505,51.723,24.596,72.784c2.515,3.291,7.222,3.922,10.513,1.407   c3.292-2.515,3.922-7.222,1.407-10.513c-14.076-18.423-21.516-40.443-21.516-63.678c0-57.897,47.103-105,105-105   s105,47.103,105,105s-47.103,105-105,105c-23.235,0-45.255-7.44-63.678-21.516c-3.291-2.515-7.998-1.884-10.514,1.406   c-2.515,3.292-1.885,7.998,1.406,10.513C183.281,346.495,208.45,355,235.005,355c66.168,0,120-53.832,120-120   S301.173,115,235.005,115z"/>
                  <path d="M235.005,75c-88.225,0-160,71.776-160,160s71.775,160,160,160s160-71.776,160-160S323.229,75,235.005,75z M235.005,380   c-79.953,0-145-65.047-145-145s65.047-145,145-145s145,65.047,145,145S314.958,380,235.005,380z"/>
                  <path d="M171.36,298.645c1.465,1.464,3.385,2.197,5.304,2.197s3.839-0.732,5.304-2.197l18.186-18.186   c7.436,1.768,14.948,2.674,22.393,2.674c22.593,0,43.34-8.304,58.416-23.38c21.358-21.358,28.681-53.186,19.588-85.138   c-0.711-2.498-2.663-4.45-5.161-5.161c-8.842-2.516-17.832-3.792-26.721-3.792c-22.594,0-43.34,8.303-58.417,23.38   c-20.394,20.394-27.979,50.333-20.708,80.812l-18.183,18.183C168.432,290.967,168.432,295.716,171.36,298.645z M220.858,199.649   c12.243-12.244,29.223-18.986,47.81-18.986c6.138,0,12.349,0.725,18.517,2.16c5.885,25.223-0.271,49.765-16.83,66.324   c-12.243,12.244-29.221,18.986-47.805,18.986c-3.155,0-6.324-0.194-9.497-0.574l59.07-59.07c2.929-2.929,2.929-7.678,0-10.606   c-2.93-2.929-7.678-2.929-10.607,0l-59.08,59.08C199.77,234.993,206.28,214.228,220.858,199.649z"/>
                  <path d="M67.5,75c-4.143,0-7.5,3.358-7.5,7.5V130H45V82.5c0-4.142-3.357-7.5-7.5-7.5S30,78.358,30,82.5V130H15V82.5   c0-4.142-3.357-7.5-7.5-7.5S0,78.358,0,82.5v75c0,11.831,5.652,22.958,15,29.99V372.5c0,12.407,10.094,22.5,22.5,22.5   S60,384.907,60,372.5V187.49c9.348-7.032,15-18.159,15-29.99v-75C75,78.358,71.643,75,67.5,75z M48.743,176.985   C46.427,178.326,45,180.8,45,183.477V372.5c0,4.136-3.364,7.5-7.5,7.5s-7.5-3.364-7.5-7.5V183.477c0-2.677-1.427-5.15-3.743-6.491   C19.313,172.967,15,165.501,15,157.5V145h45v12.5C60,165.501,55.687,172.967,48.743,176.985z"/>
                  <path d="M440,75c-16.542,0-30,13.458-30,30v117.5c0,16.542,13.458,30,30,30h15v120c0,4.136-3.364,7.5-7.5,7.5s-7.5-3.364-7.5-7.501   l-0.01-97.5c0-4.142-3.358-7.5-7.501-7.499c-4.142,0-7.499,3.358-7.499,7.501L425,372.5c0,12.407,10.094,22.5,22.5,22.5   s22.5-10.093,22.5-22.5V105C470,88.458,456.542,75,440,75z M455,237.5h-15c-8.271,0-15-6.729-15-15V105c0-8.271,6.729-15,15-15   s15,6.729,15,15V237.5z"/>
                </g>
                </svg>
            </div></p>
            <br>
            <hr color="#000">
            <br>
          </div>
              <p><strongt >Location:</strongt> "<%= element.location %>"</p>
              <p><strongt >Rating:</strongt> "<%= element.rating %>"</p>
              <p><strongt >Charges:</strongt> "$<%= element.charges %>"</p>
              <p><strongt >Description:</strongt> "<%= element.description %>"</p>
              <p style="align-items: center;">
                <strongt>Restaurant Id:</strongt> "<%= element._id %>" 
                <button class="copy-btn" data-id="<%= element._id %>">
                  <svg class="cp" width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.9983 10C20.9862 7.82497 20.8897 6.64706 20.1213 5.87868C19.2426 5 17.8284 5 15 5H12C9.17157 5 7.75736 5 6.87868 5.87868C6 6.75736 6 8.17157 6 11V16C6 18.8284 6 20.2426 6.87868 21.1213C7.75736 22 9.17157 22 12 22H15C17.8284 22 19.2426 22 20.1213 21.1213C21 20.2426 21 18.8284 21 16V15" stroke="#000" stroke-width="1.5" stroke-linecap="round"/>
                    <path d="M3 10V16C3 17.6569 4.34315 19 6 19M18 5C18 3.34315 16.6569 2 15 2H11C7.22876 2 5.34315 2 4.17157 3.17157C3.51839 3.82475 3.22937 4.69989 3.10149 6" stroke="#000" stroke-width="1.5" stroke-linecap="round"/>
                    </svg></button>
                <span class="copied-text" style="opacity:0;">Copied!</span>
              </p>
            </div>
          
        </div>
      
      </main>
      
        <!-- Script to handle copying the Menu Id -->
        <script>
          document.querySelectorAll('.copy-btn').forEach(button => {
            button.addEventListener('click', () => {
              const id = button.getAttribute('data-id');
              copyToClipboard(id, button);
            });
          });
      
          function copyToClipboard(text, button) {
            const input = document.createElement('input');
            input.value = text;
            document.body.appendChild(input);
            input.select();
            document.execCommand('copy');
            document.body.removeChild(input);
            
            const copiedText = button.parentNode.querySelector('.copied-text');
            copiedText.style.opacity = '1';

            setTimeout(() => {
              copiedText.style.opacity = '0';
            }, 2000);
          }
        </script>
      </body>
      <% }) %>
      
  
 


</html>
